.call-details-layout{
    width: 100%;
    margin-top:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.call-details{
    display: flex;
    padding: 2rem 3rem;
    flex-direction: column;
    gap:0.5rem;
    align-items: start;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}